.trading-modal-body {
    background: url(../../images/live-on-bitrue.jpg) no-repeat;
    min-height: 490px;
    background-size: cover;
    border: 1px solid #f3bc16;
    border-radius: 10px !important;
    background-position: center;
}

.cancel-btn {
    font-weight: 900;
    font-size: 25px;
}

.button-area {
    position: absolute;
    bottom: 84px;
    z-index: 2;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-area a{
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: .99rem;
    line-height: 1.5;
}